body {
    z-index: 1;
}
#mainButtons {
    display: flex;       
    flex-direction: row;    
    justify-content: center; 
    align-items: center;    
    flex-wrap: wrap;        
    gap: 10px;              
    position: fixed;        
    bottom: 0;              
    left: 0;                
    right: 0;               
    padding: 15px;  
    z-index: 3;
}

.tableContainer {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: center; 
    align-items: center;    
    flex-wrap: wrap;
    z-index: 2;
}

#fullTable {
    border: 2px;
    border-collapse: collapse;
    background-color: beige;
    border-color: black;
    border-width: 2px;
    width: 75%;  
    z-index: 3;  
}

#fullTable caption{
    font-size: 32px;
}

#tableTitles td {
    background-color: beige;
    color:black;
    border-color: black;
    border-width: 2px;
    text-align: center;
    padding: 4px;
}

#tableWithData td {
    background-color: inherit !important;;
    color:black;
    border-color: black;
    border-width: 2px;
    text-align: center;
    padding: 3px;
    z-index: 4;
}

.selected-row {
    background-color: #ddddccf5 !important;
}

#formToCreateNote {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(129, 168, 92);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    width: 50%;
    height: 50%;
    overflow-y: auto;
}

#formToDeleteNote,
#formToFindDataById,
#formToIndexSalarys {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(129, 168, 92);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    z-index: 10000;
    width: 40%;
    height: 25%;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.form-label {
    font-weight: bold;
    color: #333;
    font-size: 14px;
    text-align: right;
    margin-right: 15px;
    flex-shrink: 0;
}

.form-input {
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 25px;
}
